apiVersion: v1
kind: ConfigMap
metadata:
  name: n8n-config
  namespace: n8n
  labels:
    app.kubernetes.io/name: n8n
data:
  TZ: Asia/Ho_Chi_Minh
  GENERIC_TIMEZONE: Asia/Ho_Chi_Minh
  N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: "true"
  N8N_RUNNERS_ENABLED: "true"