apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  namespace: n8n
  labels:
    app.kubernetes.io/name: n8n
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: n8n
  template:
    metadata:
      labels:
        app.kubernetes.io/name: n8n
    spec:
      containers:
      - name: n8n
        image: n8nio/n8n:1.120.2
        ports:
        - containerPort: 5678
        envFrom:
        - configMapRef:
            name: n8n-config
        volumeMounts:
        - name: n8n-pv-storage
          mountPath: /home/node/.n8n
        resources:
          requests:
            memory: 256Mi
            cpu: 500m
          limits:
            memory: 512Mi
            cpu: 1
      volumes:
      - name: n8n-pv-storage
        persistentVolumeClaim:
          claimName: n8n-pvc